<%= form_for(msg) do |f| %>
  <% if msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(msg.errors.count, "error") %> prohibited this msg from being saved:</h2>

      <ul>
      <% msg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :sender %>
    <%= f.text_field :sender %>
  </div>

  <div class="field">
    <%= f.label :sent %>
    <%= f.date_select :sent %>
  </div>

  <div class="field">
    <%= f.label :sent_id %>
    <%= f.text_field :sent_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
